<div data-bind="if: isLoaded">

    <div data-bind='foreach: items'>
        <div class="mui-row">
            <div class="mui-form--inline mui-col-md-5">
                <div class="mui-textfield mui-textfield">
                    <!--<input type="text" data-bind="value: AnyDate, calendar: { value: ko.observable(AnyDate) } ">-->
                    <label>AnyDate</label>
                    <!--<div class="propertyError" data-bind="text: $component.getObjectPropertyError($data,'AnyDate')"></div>-->
                    <div class="propertyError" data-bind="text: $component.getPropertyError($data,'AnyDate')"></div>
                </div>

                <div class="mui-textfield mui-textfield">
                    <input type="text" data-bind='value: Description' />
                    <!--<div class="propertyError" data-bind="text: $component.getObjectPropertyError($data,'Description')"></div>-->
                    <div class="propertyError" data-bind="text: $component.getPropertyError($data,'Description')"></div>
                    <label>Description</label>
                </div>
            </div>

            <div class="mui-form--inline mui-col-md-5">
                <div data-bind="foreach: LevelTwos">
                    <editor-breeze params="element: $data"></editor-breeze>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" data-bind='click: saveChanges' class="mui-btn mui-btn--raised">
        Save Changes
    </button>
</div>
<div data-bind="ifnot: isLoaded">
    Preparing
</div>
<hr />

