<label> Gossip: server (probably) accepting value gt 100, for odd idUser</label>
<br />
<br />
<div>
    <label>User Id :</label>
    <input type="number" data-bind="textInput: idUser" />
</div>
<div>
    <label>Value :</label>
    <input type="number"  min="0" max="9999" step="0.01" size="4" data-bind="textInput: value"/>
    <span data-bind="validationMessage: valueByIdUser" class="validationMessage"></span>
</div>
<div>
    <input type="button" data-bind="click: create" value="Create" />
    <input type="button" data-bind="click: reset" value="Reset" />
</div>
